{% extends "base.html.twig" %}


{% block body %}
    <h1>Bienvenue dans ce blog !</h1>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Incidunt rem id quam, voluptates cumque itaque sunt ducimus illum quasi veniam 
            deserunt consequatur ad quas dignissimos iste suscipit, eum nobis minus officiis sequi 
            architecto iure laborum quia. Voluptatibus fuga ipsa maiores.</p>
            
        <p>Maxime reiciendis quaerat, quidem consectetur animi vero laboriosam 
            commodi quibusdam facere fugiat, quis sunt veniam recusandae! 
            Iusto voluptates veritatis fugiat provident alias quam sapiente suscipit 
            voluptatem cupiditate ad dolor id natus sint consectetur distinctio, 
            cumque, eos quas, libero voluptatum. Fugit.</p>
{% endblock %}
    